<div class="bordered_wrapper">
  <h3>
    About Us
  </h3>
  
  <div>
  	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus arcu et urna dapibus ultrices. Curabitur porttitor auctor mauris, ut cursus augue elementum vitae. Aenean dapibus facilisis justo, at porta diam viverra eu. Quisque tincidunt ornare quam, ut sollicitudin dui gravida tristique. Proin leo urna, ullamcorper sed lobortis vel, tristique sagittis mi. In orci lacus, fringilla non elementum vel, ultricies vel sapien. Phasellus egestas dolor id mauris faucibus auctor. In iaculis hendrerit ligula. Vivamus posuere lacinia enim, eu tristique ipsum feugiat in. Sed ultrices leo a dui malesuada id bibendum nibh facilisis. Sed tempor nisi quis nisi ultrices id pretium ante f.
  </div>
</div>

