<div class="bordered_wrapper">
    <h3>
        Your Books <%= link_to 'New Book', new_book_path, :class => 'btn btn-inverse' %>
    </h3>

    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
        </tr>

        <% @books.each do |book| %>
        <tr>
            <td><%= link_to (image_tag book.cover.url(:icon)), book %></td>
            <td><%= link_to book.title, book %></td>
            <td><%= book.author %></td>
        </tr>
        <% end %>
    </table>
</div>
